#title {
    margin: 10px 0 10px 0;
}
#userBox {
    height: 700px;
    overflow: auto;
}

#textBox {
    height: 650px;
    overflow: auto
}

#activeUsers {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

#searchBox {
    margin: 10px 0 10px 0;
}