<html>
<body>
    <div class='container-fluid'>
        <div class='card' id='title'>
            <div class='card-body'>
                <h3 class='card-text'>Chat Application</h3>
            </div>
        </div>
        <div class='row'>
                <div class='col-4'>
                        <div class='card'id='userBox'>
                                <div class='card-body'>
                                    <h3 class='card-text'>Active Users</h3>
                                    <p *ngFor='let msg of info'>{{msg.firstName}}</p>
                                </div>
                            </div> 
                </div>
                <div class='col-8'>
                        <div class='card' id='textBox'>
                                <div class='card-body'>
                                    <h3 class='card-text'>It change</h3>
                                    <p>{{this.userName}}{{this.sendText}}</p>
                                </div>
                            </div>
                            <div>
                                <input class='form-control' id='searchBox'[(ngModel)]='inputText' placeholder="What would you like to say?" (keyup.enter)='onEnter()'> 
                            </div>  
                </div>
            </div>
    </div>

</body>
</html>
