<html>
<body>
    <div class='container-fluid'>
        <div class='card text-center' id='title'>
            <div class='card-body'>
                <h2 class='card-text'>Chat Application</h2>
                <button type='button' (click)='modalOpen()'>Login</button>
            </div>
            
        </div>
        <div class='row'>
                <div class='col-4'>
                        <div class='card' id='userBox'>
                                <div class='card-body'>
                                    <h3 class='card-text' id='activeUsers'>Active Users</h3>
                                    <p *ngFor='let user of userList'><b>{{user.username}}</b></p>
                                </div>
                            </div> 
                </div>
                <div class='col-8'>
                        <div class='card' id='textBox'>
                                <div  class='card-body' id="messages">
                                    <p *ngFor='let msg of messageList'><b>{{msg.user.username}}: </b>{{msg.message}}</p>
                                    
                                </div> 
                            </div>
                            <div>
                                <input class='form-control' id='searchBox' [(ngModel)]='messageText' placeholder="What would you like to say?" (keyup.enter)='onEnter()'> 
                            </div>  
                </div>
            </div>
            <div id='github-link'>
                <h3 class = 'font-italic border-bottom mt-3 text-dark'>GitHub Repository</h3>
                <a class='ml-3 text-dark' href='https://github.com/e-remington-lee/chat-room'>https://github.com/e-remington-lee/chat-room</a>
            </div>
    </div>

</body>
</html>
